
h1 {
    font-size: 5em;
    text-align: center;
    background-color: aqua;
    color: darkblue;
    margin-top: 0px;
    padding: 25px;
    border: 2px solid black;
}

main>p {
    text-align: center;
}
main>img {
    position: relative;
    padding-left: 550px;
}

body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
       